<p>
  <strong>Name:</strong>
  <%= @monster.name %>
</p>
 
<p>
  <strong>power:</strong>
  <%= @monster.power %>
</p>
 
<p>
  <strong>Type:</strong>
  <%= @monster.mtype %>
</p>

<%= link_to 'Back', monsters_path %>